
/*****                Login/Register Pages             *********/

.profile_container {
  text-align: center;
  padding: 55px 0;
  width: 100%;
  height: 100%;
}
.click-off {
  position: absolute;
  width: 100%;
  height: 100%;
}

.profile-form {
    width: 100%;
    background-color: rgba(250,250,250,1);

    padding: 1em 0;
}


.profile-form h1 {
  display: block;
  font-size: 1.6em;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(115, 107, 2, 0.3);
}
.profile-form h2 {
  display: block;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 10px;
  border-top: 1px solid rgba(115, 107, 2, 0.3);
}

.users_lessons_viewed {
  max-height: 300px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.users_lessons_viewed li {
  padding: 0 1em;
  padding-bottom: 1em;
}

.users_lessons_viewed li p a {
  text-decoration: none;
}

.users_lessons_viewed li p span {
  margin-right: 1em;
}

.users_lessons_viewed li:nth-child(odd) {
  color: #0FA3B1;

}
.users_lessons_viewed li:nth-child(even) {
  background-color: #0FA3B1;
  color: white;
}
.users_lessons_viewed li:nth-child(odd) p a,
.users_lessons_viewed li:nth-child(odd) p a:link,
.users_lessons_viewed li:nth-child(odd) p a:visited{
  color: #0FA3B1;

}
.users_lessons_viewed li:hover{
  color: #fff;
  background-color: rgba(224,68,68,0.6);

}
.users_lessons_viewed li:nth-child(even) p a,
.users_lessons_viewed li:nth-child(even) p a:link,
.users_lessons_viewed li:nth-child(even) p a:visited {
  color: white;
}



.profile-form h5 {
  display: inline;
}

.profile_lesson_title {
  text-align: left;
  margin: 0;
  padding-bottom: 0;
}

.profile_lesson_views {
  text-align: right;
  margin-top: 0.3em;
}

.users_lessons_viewed::-webkit-scrollbar {
  width: 0.5em;
  background-color: white;
}

.users_lessons_viewed::-webkit-scrollbar-thumb {
  background-color: rgba(15,163,177,1);
  border: 1px solid white;
}

#profile_slide {
  background-image: url("../images/bench_gradient.jpg");
  /*height: 100vh;*/
  width: 100%;
  background-position: center;
  background-size: cover;
}

/*=====================================
=            MEDIA QUERIES            =
=====================================*/
    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {


    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      .profile-form {
        text-align: center;
        margin: 0 auto;
        margin-top: 100px;
        max-width: 800px;
        border-radius: 10px;
        border: 3px solid #0FA3B1;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {


    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {



    }
    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

    }
