<div id="pic_login">
  <div class="about_container">
    <div class="about-form">
      <h1>About Us:</h1>
      <p class="description">Arbitrage Ed wants to make a stand for individuals. Everybody deserves an equal opportunity to access financial education and attain financial literacy. Whether you’re interested in investing or trying to develop personal financial stability, our lessons have got you covered.</p>
      <p class="description">Learning about your finances can seem time consuming and daunting, but it doesn't have to be. Arbitrage Ed has created two types of products to help you enjoy learning about finance at your own pace: The first, Educational Lessons, consists of short videos with animated illustrations for easily learning new concepts in minutes, and questions tailored to each video's content on which you can practice and test your comprehension. The second, Research Tools, will enable you to apply every lesson immediately using real-world data.</p>
      <p class="description">We feel this approach is the most accessible and effective way to get up to speed with your financial life. Here's why:</p>
      <div class="sub_description">a) Short videos with animated illustrations allow us to describe concepts and show examples concisely -you're time is valuable, why waste it?</div>
      <div class="sub_description">b) Targeted questions help test your understanding. If you can correctly answer every question, you’re definitely ready to move on to new lessons.</div>
      <div class="sub_description">c) Research tools are created to match video lesson content and enable real-world application of every lesson. No more wondering how a subject affects you!</div>
      <h1>Meet our growing team!</h1>
      <div class="personals">
        <div class="personal"><img src="images/shalomHalbert.jpg"/>
          <p>Shalom Halbert</p>
          <p>Founder and CEO</p>
        </div>
        <div class="personal"><img src="images/varunSaluja.jpg"/>
          <p>Varun Saluja, CFA</p>
          <p>Chief Content Creator</p>
        </div>
        <div class="personal"><img src="images/neilMukherjee.jpg"/>
          <p>Neil Mukherjee, CPA</p>
          <p>CFO & Content Curator</p>
        </div>
        <div class="personal"><img src="images/nickLeoutsakos.jpg"/>
          <p>Nick Leoutsakos</p>
          <p>Lead Web Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>