<div id="pic_login">
  <div class="about_container">
    <div class="about-form">
      <h1>Careers Opportunities</h1>
      <p>Here at Arbitrage Ed, we are creating a library of instructional videos and practice resources to empower everyone with the means to attain financial literacy. Whether they are interested in learning the basics of credit and financial planning, or learning how to perform fundamental analysis on equity securities, we offer the resources to help achieve financial security. To accelerate this effort, we are looking for exceptional individuals who are as passionate about promoting financial literacy as we are! Join us on our mission to provide a free, distinguished education for everyone, everywhere.</p>
      <p>To start the application process, please email your resume to:</p><a href="mailto:shalomhalbert@arbitrageed.com?subject=Hello Arbitrage Ed" target="_blank">shalomhalbert@arbitrageed.com</a>
      <ul class="careers_list">
        <h1>Current Job Openings:</h1>
        <li>
          <h2>Software Engineer</h2>
          <p>The position will entail developing tools that enable instant real-world application of our lessons. You will be working with financial data from several vendors. Fluency in Python is a plus. We are performing market research on several tools, and would be glad to discuss them with applicants.</p>
        </li>
        <li>
          <h2>Content Creator</h2>
          <p>We are seeking financial professionals to research and write video lesson scripts, create video lessons, and help us further develop our educational offerings. In particular, we’re seeking applicants to build out our library in the following topics:
            <ul>
              <li>Consumer Credit</li>
              <li>Mortgages</li>
              <li>Student Loans</li>
              <li>Financial Planning</li>
              <li>Measuring Risk</li>
              <li>Asset Allocation</li>
              <li>Fundamental Analysis</li>
              <li>Technical Analysis</li>
              <li>Quantitative Analysis</li>
              <li>Basic Economics</li>
              <li>Equity Securities</li>
              <li>Debt Securities</li>
              <li>Commodity Securities</li>
              <li>Derivative Securities</li>
              <li>Currency markets</li>
            </ul>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>