<div id="pic_login">
  <div class="about_container">
    <div class="about-form">
      <h1>Contact Us:</h1>
      <p>If you have any questions or comments, please feel free to contact us!</p>
      <h2>Boston Office:</h2>
      <p style="white-space:pre;"><a href="https://www.google.com/maps/place/695+Atlantic+Ave,+Boston,+MA+02111" target="_blank">
          695 Atlantic Ave, 9th Floor
          Boston, MA 02111</a></p>
      <h2>Email Us:</h2>
      <p style="white-space:pre;"><a href="mailto:shalomhalbert@arbitrageed.com?subject=Hello Arbitrage Ed" target="_blank">shalomhalbert@arbitrageed.com</a></p>
    </div>
  </div>
</div>